.contact {
  text-align: right;
  font-style: normal;
}

.contact__free {
  font-size: 11px;
  color: #9a9a9a;
  margin-bottom: 6px;
}

.contact__phone {
  display: block;
  font-size: 26px;
  line-height: 1;
}

.contact__dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.contact__working-time {
  display: block;
  font-size: 13px;
  color: #ff5500;
  text-decoration: underline;
}

.contact__working-time:hover{
  color: #ff3d00;
  text-decoration: underline;
}

.contact__timetable {
  position: absolute;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 160px;
  min-height: 65px;
  padding: 14px 18px;
  border-radius: 5%;
  right: -9999px;
  top: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 7px;
}

.contact__timetable::before {
  content: "";
  display: block;
  height: 100px;
  left: 0;
  right: 0;
  top: -30px;
  position: absolute;
}

.contact__dropdown-wrapper:hover .contact__timetable {
  display: block;
  right: 0%;
  opacity: 1;
}

.contact__triangle {
  position: absolute;
  top: -10px;
  left: 93px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.8);
}

.contact__item {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  
}

.contact__item--bold {
  font-weight: 700;
}

.footer .contact {
  top: 30px;
}