.contact {
  text-align: right;
  font-style: normal;
}

.contact__free {
  font-size: 11px;
  color: #9a9a9a;
  margin-bottom: 6px;
}

.contact__phone {
  display: block;
  font-size: 26px;
  line-height: 1;
}

.contact__working-time {
  display: block;
  font-size: 13px;
  color: #ff5500;
  text-decoration: underline;
}

.contact__working-time:hover{
  color: #ff3d00;
}

.footer .contact {
  top: 30px;
}