.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid #2e3032;
}

.footer-container__section {
  margin-top: 3px;
  height: 130px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.inner-footer {
  margin-top: auto;
}

.inner-footer__container {
  padding: 42px 0;
}
