.inner-section {
  background: #fff;
  color: #1a1b1e;
  padding: 81px 0 60px 0;
}

.review__inner-section {
  padding-bottom: 98px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
}

.inner-section__title--alt--font {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 1.25;
}