.menu__item {
  display: inline-block;
  margin-right: 54px;
}

.menu__item:hover {
  color: #ff3d00;
  transition: all 0.2s ease-in-out;
}

.menu__item:last-child {
  margin-right: 0px;
}