.top-line {
  min-height: 409px;
  display: flex;
  flex-direction: column;
  background: url(../../img/top-line.png) center center no-repeat;
  padding-bottom: 27px;
}

.top-line__container {
  margin-bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.top-line__header {
  margin-bottom: 31px;
}

.page-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.breadcrumbs {
  display: block;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  color: #9a9a9a;
  padding-right: 3px;
}

.breadcrumbs__item::after {
  content: '/';
}

.breadcrumbs__item:last-child {
  padding-right: 0;
}

.breadcrumbs__item:last-child::after {
  content: '';
}

.breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs__link--active {
  font-weight: 700;
}